<div class="about-container">
    <!-- Sección de presentación -->
    <div class="header">
      <img
        src="assets/images/fotoperfil.jpg"
        alt="Tu foto de perfil"
        class="profile-image"
      />
      <h1>Juanita Rubi Becerra Guevara</h1>
      <p class="subtitle">Estudiante de Ingeniería en Desarrollo y Gestión de Software</p>
    </div>
  
    <!-- Sección de información académica -->
    <div class="section">
      <h2>Información Académica</h2>
      <p>
        Actualmente estoy cursando el 8vo cuatrimestre de la carrera de Ingeniería en Desarrollo y Gestión de Software.
        Durante mi formación, he adquirido conocimientos en diversos lenguajes de programación y tecnologías, así como en
        metodologías ágiles que me permiten trabajar en equipo de manera eficiente. Sigo en constante aprendizaje y me gusta investigar
        sobre nuevos temas y profundizar en aquello que estoy trabajando. 
      </p>
    </div>
  
    <!-- Sección de habilidades -->
    <div class="section">
      <h2>Habilidades Técnicas</h2>
      <div class="skills-grid">
        <div class="skill">
          <h3>Lenguajes de Programación</h3>
          <ul>
            <li>Python</li>
            <li>JavaScript</li>
            <li>C++</li>
          </ul>
        </div>
        <div class="skill">
          <h3>Frameworks y Herramientas</h3>
          <ul>
            <li>Flutter</li>
            <li>Angular</li>
            <li>Scrum</li>
            <li>Kanban</li>
          </ul>
        </div>
        <div class="skill">
          <h3>Proyectos Destacados</h3>
          <ul>
            <li>Inteligencia Artificial</li>
            <li>Raspberry Pi</li>
            <li>Internet de las Cosas (IoT)</li>
            <li>Arduino</li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Sección de aficiones -->
    <div class="section">
      <h2>Aficiones</h2>
      <p>
        Fuera del ámbito académico, disfruto de actividades creativas como la escritura, el dibujo y la pintura al pastel y
        acrílico. También me gusta manejar y pasar tiempo con mis 4 perros y mi familia. La música es una parte importante
        de mi vida, y siempre estoy explorando nuevos géneros y artistas.
      </p>
    </div>
  

  </div>
